@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-section{
    width: 100%;
    height: 100vh;
    padding: 0px 100px;
    background: #ebe7e7;
}

.container{
    max-width: 1200px;
    margin: 0px auto;
}

.animal-card{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 380px;
    height: 550px;
    background: #fafafa;
    border-radius: 10px;
    box-shadow: 0 10px 10px rgba(4, 4, 4, 0.1);
}

.top-section{
    width: 100%;
    height: 55%;
    background: linear-gradient(to bottom, #ff69b4 0%, #f05aa5 100%);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 45%;
    /* border-bottom-right-radius: 50%; */
}

.back{
    width: 50px;
    height: 50px;
    background: linear-gradient(to bottom, #f281b9 0%, #f867b0 100%);
    border-radius: 50%;
    margin: 10px 0 0 10px;
    position: absolute;
    box-shadow: 0 20px 20px rgba(4, 4, 4, 0.1);
}

.back i{
    font-size: 30px;
    color: #fafafa;
    display: flex;
    justify-content: center;
    top: 20%;
    position: relative;
}

.dog-img{
    width: 100%;
    height: 100%;
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.image{
    width: 60%;
    height: 80%;
    background:url(./img/dobberman\ pinscher.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.add-to-cart{
    width: 100px;
    height: 40px;
    background: #FFDCED;
    box-shadow: 0 20px 20px rgba(4, 4, 4, 0.1);
    color: rgb(36, 36, 36);
    border: none;
    border-radius: 10px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-weight: bold;
    font-size: 12px;
}

.bottom-section{
    width: 100%;
    height: 38%;
    padding: 0 20px 0 20px;
}

.name{
    font-weight: 400;
    color: rgb(54, 54, 54);
    margin-bottom: 8px;
}

.name h3{
    font-size: 20px;
}

.information{
    width: 100%;
    height: 65px;
    display: flex;
    justify-content: space-between;
}

.line{
    border-right: 1px solid rgb(153, 151, 151);
    margin-left: 10px;
}

.information p{
    font-size: 13px;
}

.light{
    color: rgb(188, 184, 184);
}
.bold{
    font-weight: bold;
    color: black;
}

.writeup{
    width: 100%;
    height: 110px;
}

.writeup p{
    font-size: 11.6px;
}

